/* Reset some default styles */
body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: orangered;
    font-size: 25px;
}

.content {
    width: 50%;
    position: absolute;
    top: 25%;
    text-align: center;
    transform: translate(50%);
    color: orangered;
}

.content h1{
    font-size: 35px;
    margin-top: 50px;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid blue;
    background-color: blue;
    color: white;
    cursor: pointer;
}

.content ul {
    display: inline-block;
}
