<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale = 1.0">
        <title>My Password Manager</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='edit_item.css') }}">
    </head>

    <body>
        <h1>Edit Item</h1>
    </body>
</html>







<form method="post",action="{{url_for('main.edit_item', item_id = item.id)}}">
    <p>Website: <input type="text" name="website_name" value="{{item.website_name}}"></p>
    <p>Username: <input type="text" name="username" value="{{ item.username }}"></p>
    <p>Password: <input type="text" name="password" value="{{ item.password }}"></p>
    <input type="submit" value="Save Changes" style="background-color: blue; color: white;">
</form>

<a href="{{ url_for('main.item_details', item_id=item.id) }}" class="cancel-button">
    <button style="background-color: white; color: black;">
        Cancel
    </button>    
</a>
