<h1> Vault </h1>
<h2> Add new items to vault. </h2>
{% for password in passwords %}
<div>
    <p>Website: {{ password.website_name }}</p>
    <p>Username: {{ password.username }}</p>
</div>
{% endfor %}
<form action="" method="post">
    {{form.hidden_tag()}}
    <div>
        {{form.website_name(placeholder="website_name",
        style='width: 50%;
        font-weight: bold;
        padding: 12px 20px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box')}}
        {% for error in form.website_name.errors %}
        <p> {{ error }}</p>
        {% endfor %}
    </div>
    <br>
    <div>
        {{form.username(placeholder="username",
        style='width: 50%;
        font-weight: bold;
        padding: 12px 20px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box')}}
        {% for error in form.username.errors %}
        <p> {{ error }}</p>
        {% endfor %}
    </div>
    <br>
   <div>
        {{ form.password(placeholder="password",
        style='width: 50%;
        font-weight: bold;
        padding: 12px 20px ;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box') }}
        {% for error in form.password.errors %}
        <p>{{ error }}</p>
        {% endfor %}
   </div>
   <p>
        {{ form.submit(style ='background-color: #4CAF50;
        color: white;
        width: 50%;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px') }}
    </p>
</form>
