<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <title>My Password Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='new_item.css') }}">
</head>

<body>
    <header class="header">
        <h1 class="logo">VaultGuard</h1>
    </header>
    <div class="container">
        <div class="input-group">
            <div class="form-box">
                <h1>Add new item</h1>
                {% for password in passwords %}
                <div>
                    <p>Website: {{ password.website_name }}</p>
                    <p>Username: {{ password.username }}</p>
                </div>
                {% endfor %}
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <div class="input-field">
                        {{ form.website_name(placeholder="Name") }}
                        {% for error in form.website_name.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="input-field">
                        {{ form.username(placeholder="Username") }}
                        {% for error in form.username.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="input-field">
                        {{ form.password(placeholder="Password") }}
                        {% for error in form.password.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="input-field">
                        <p>
                            {{ form.submit(class="submit-button") }}
                        </p>
                    </div>
                </form>

            </div>
        </div>
    </div>
</body>

</html>
