<div class="vault">
    <h2>My Items</h2>
    <ul>
        {% for item in user_items %}
            <li><a href="{{ url_for('main.item_details', item_id=item.id) }}">{{ item.website_name }}</a></li>
        {% endfor %}
    </ul>
    <h2>Add Items</h2>
    <ul>
        <li><a href="{{ url_for('main.new_item') }}">
            <button style="background-color: blue; color: white;"> + New Item</button>
        </a></li>
    </ul>
</div>

<div>
    <a href="{{ url_for('main.lock') }}">
        <button style="background-color: white; color: blue;">
            Lock Now
        </button>
    </a>
</div>

<div>
    <a href="{{ url_for('main.logout') }}">
        <button style="background-color: blue; color: white;">
            Logout
        </button>
    </a>
</div>
